.wrapper {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.wrapper:focus {
  outline: 2px solid var(--color-primary, #2563eb);
  outline-offset: 4px;
}

.viewport {
  overflow: hidden;
  width: calc((180px * 4) + (12px * 3)); 
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .viewport {
    width: calc((180px * 3) + (12px * 2));
  }
}

@media (max-width: 768px) {
  .viewport {
    width: calc((180px * 2) + (12px * 1));
  }
}

@media (max-width: 480px) {
  .viewport {
    width: 180px;
  }
}

.container {
  display: flex;
  gap: 12px;
  scroll-behavior: smooth;
  scroll-snap-type: x proximity;
  overflow-x: auto;
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* IE/Edge */
   user-select: none;
  -webkit-user-select: none;
  touch-action: pan-y;
}

.container::-webkit-scrollbar {
  display: none;               /* Chrome, Safari */
}

/* fixed tile */
.tileWrapper {
  flex: 0 0 180px;
  max-width: 180px;
  min-width: 180px;
  pointer-events: auto;
  scroll-snap-align: start;
  transition: transform 0.3s ease; 
}

/* arrows */
.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  border: 1px solid #ddd;
  border-radius: 50%;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.arrow:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

@media (min-width: 990px) {
    .container {   
      justify-content: center;
    }
    .left {
      left: 8%;
    }

    .right {
      right: 8%;
    }
}

