.wrapper {
  display: flex;
  flex-direction: column;
}

.label,
.formcontrol {
  width: 100%;
}

.label {
  font-size: 1rem;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  margin-block-end: 2px;
}

.label .required {
  color: var(--color-danger);
}

.labelicon {
  font-size: 1.25rem;
  margin-inline-end: 2px;
}

/* ================= INPUT SECTION ================= */

.section {
  position: relative;
}

/* ================= INPUT ICON ================= */

.icon {
  position: absolute;
  font-size: 1.25rem;

  inset-block-start: 50%;
  transform: translateY(-50%);

  pointer-events: none;
}

/* Default / left icon */
.iconLeft .icon {
  inset-inline-start: 12px;
}

/* Right icon */
.iconRight .icon {
  inset-inline-end: 12px;
}

/* ================= INPUT ================= */

.wrapper .formcontrol {
  border: 1px solid var(--color-stroke200);
  padding: 12px;
  border-radius: 8px;
  display: inline-block;
}

.wrapper .formcontrol::placeholder {
  color: var(--color-neutralColor500);
}

/* Left icon */
.wrapper .iconLeft .formcontrol {
  padding-inline-start: 36px;
}

/* Right icon */
.wrapper .iconRight .formcontrol {
  padding-inline-end: 36px;
}

/* ================= LARGE ================= */

.wrapper .section.lg .formcontrol {
  height: 56px;
}

/* ================= STATES ================= */

.wrapper .success .formcontrol {
  border-color: var(--color-success);
}

.wrapper .success + .description {
  color: var(--color-success);
}

.wrapper .error .formcontrol {
  border-color: var(--color-danger);
}

.wrapper .error + .description {
  color: var(--color-danger);
}

/* ================= FOCUS ================= */

.wrapper .formcontrol:hover,
.wrapper .formcontrol:focus-visible,
.wrapper .formcontrol:focus-within,
.wrapper .formcontrol:focus,
.wrapper .formcontrol:active {
  outline: 1px solid var(--color-primary);
}

.wrapper .formcontrol:focus {
  box-shadow: 0 0 0 4px var(--color-primary200);
}

/* ================= FILTER ================= */

.wrapper .filter .formcontrol {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid var(--color-stroke200);
}

/* ================= DESCRIPTION ================= */

.description {
  display: flex;
  align-items: center;
  color: var(--color-neutralColor600);
  padding-block-start: 4px;
  font-size: 0.875rem;
}

.description span {
  display: inline-block;
  margin-inline-end: 4px;
}