.splitHero {
  display: grid;
  grid-template-columns: 50% 50%;
  min-height: 500px;
  position: relative;
}

.splitHero:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://cdn-prod.mybharats.in/mybharat/assets/img/yuva_landing/left-design-bg.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    transform: scaleX(-1);
    z-index: -1;
}

.media {
  width: 100%;
  overflow: hidden;
}

.splitHero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 var(--radius-3xl) var(--radius-3xl) 0;
}

.contentColumn {
  display: flex;
  align-items: center;
}

.content {
  width: 100%;
  padding-block: 64px;
  padding-right: max(
    16px,
    calc((100vw - var(--size-container-width, --size-container-width)) / 2)
  );

  padding-left: 64px;
}

/* Image on right */
.reverse {
  direction: rtl;
}

.reverse > * {
  direction: ltr;
}

.splitHero.reverse:after {
    transform: scaleX(1);
}

.reverse .content {
    padding-left: max(
        16px,
        calc((100vw - var(--size-container-width, --size-container-width)) / 2)
    );
    
    padding-right: 64px;
}

.reverse .media img {
     border-radius: var(--radius-3xl) 0 0 var(--radius-3xl);
}

/* Tablet */
@media (max-width: 1024px) {
  .splitHero {
    display: block;
    min-height: 400px;
    padding-inline: 16px;
  }

  .content,
  .reverse .content {
    padding-block: 24px;
    padding-inline: 0;
  }

  .reverse .media img,
  .splitHero img {
    border-radius: var(--radius-md);
  }
}

/* Mobile */
@media (max-width: 768px) {
  .splitHero {
    grid-template-columns: 1fr;
  }

  .reverse {
    direction: initial;
  }

}